<nav class="navbar navbar-expand-sm navbar-light">
      <div class="container">
        <a class="navbar-brand fw-bolder text-light fa-2x p-4">START FRAMEEORK</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto m-2 mt-lg-0">
        
                <li class="nav-item fw-bolder ">
                    <a class="nav-link text-light" routerLink="about" routerLinkActive="activeStyle rounded-1">ABOUT</a>
                </li>
                <li class="nav-item fw-bolder ">
                    <a class="nav-link text-light" routerLink="portfolio" routerLinkActive="activeStyle rounded-1">PORTFOLIO</a>
                </li>
                <li class="nav-item fw-bolder ">
                    <a class="nav-link text-light" routerLink="contact"routerLinkActive="activeStyle rounded-1">CONTACT</a>
                </li>
            </ul>
        </div>
  </div>
</nav>
